In [1]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [3]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [5]:
for i in range(1,8):
    d = 3 + (i-1) * 0.5
    print(f"Day{i}:Run {d:1f} miles")

Day1:Run 3.000000 miles
Day2:Run 3.500000 miles
Day3:Run 4.000000 miles
Day4:Run 4.500000 miles
Day5:Run 5.000000 miles
Day6:Run 5.500000 miles
Day7:Run 6.000000 miles

In [16]:
age = 30
member = True
if age > 18:
    if member:
        print("Ticket price is $12.")
    else:
        print("Ticket price is $20.")
else:
    if member:
        print("Ticket price is $8.")
    else:
        print("Ticket price is $10.")

Ticket price is $12.

In [19]:
age = 18
grade = "A"
if age >= 18:
    print("You are an adult.")
    if grade == "A":
        print("Excellent work!")
    else:
        print("Keep trying your best.")
else:
    print("You are a minor.")

You are an adult.
Excellent work!

In [ ]:
number = 25
if number > 0:
    print("Positive number")
    if number < 100:
        print("Less than 100")
else:
    print("Non- po